<div class="main-c">
  <div class="container">
    <h1 class="form-title">Welcome To Fitness</h1>

    <form #loginForm="ngForm" (ngSubmit)="login(loginForm.value)">
      <div class="popmsz" id="popmsz"></div>
      <div class="min-user-info">
        <div class="user-input-box">
          <label for="UserName">UserName</label>
          <input
            type="text" id="UserName" name="UserName" placeholder="Enter Your UserName" ngModel />
            <br>
        </div>

        <div class="user-input-box">
          <label for="password">Password</label>
          <input type="password" id="password" name="password" placeholder="Enter Password" ngModel/>
          <br>
        </div>
      </div>
    
 
      <div class="form-submit-btn">
       <b> <input type="submit" value="Log In" routerLink="admin" routerLink="log"/></b>
        <b><input type="submit" value="Register" routerLink="register"/></b>
      </div>
    
    </form>
  </div>
</div>

